<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <system.serviceModel>

      <bindings>
        <basicHttpBinding>
          <binding closeTimeout="00:00:30" />
          <binding name="bindingConfigOne" closeTimeout="00:01:00" />
          <binding name="bindingConfigTwo" closeTimeout="00:02:00" />
        </basicHttpBinding>
      </bindings>
      
      <services>
        <service name="WindowsService.CalculatorService"
                 behaviorConfiguration="CalculatorServiceBehavior">
          
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9020/CalculatorService"/>
            </baseAddresses>
          </host>

          <endpoint
             address="addressOne" binding="basicHttpBinding"
             bindingConfiguration="bindingConfigOne"
             contract="WindowsService.ICalculator" />
         
          <endpoint address=""
                    binding="wsHttpBinding"
                    contract="WindowsService.ICalculator" />
          
          <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
      </service>
    </services>
      
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      
  </system.serviceModel>
  
</configuration>

