<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:00:30" />
        <binding name="bindingConfigOne" closeTimeout="00:01:00" />
        <binding name="bindingConfigTwo" closeTimeout="00:02:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service 
        name="ConsoleSelfHosted.CalculatorService"
        behaviorConfiguration="behaviourConfig">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/CalculatorService"/>
          </baseAddresses>
        </host>
        <endpoint
            address="addressOne" binding="basicHttpBinding"
            bindingConfiguration="bindingConfigOne"
            contract="ConsoleSelfHosted.ICalculator" />
        <endpoint 
            address=""  
            binding="wsHttpBinding"  
            contract="ConsoleSelfHosted.ICalculator" /> 
        <endpoint 
            address="/test"
            binding="wsHttpBinding"
            contract="ConsoleSelfHosted.ICalculator" />
        <endpoint 
            address="net.tcp://localhost:9001/CalculatorService"
            binding="netTcpBinding"
            contract="ConsoleSelfHosted.ICalculator" />
        <endpoint 
            address="https://localhost:9002/CalculatorService"
            binding="basicHttpsBinding"
            contract="ConsoleSelfHosted.ICalculator" />
       <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
   <behaviors>  
      <serviceBehaviors>  
        <behavior name="behaviourConfig">  
          <serviceMetadata httpGetEnabled="True"/>  
          <serviceDebug includeExceptionDetailInFaults="False" />  
        </behavior>  
      </serviceBehaviors>  
    </behaviors> 
  
  </system.serviceModel>
</configuration>